@import "tailwindcss";

:root {
  --background: #f1f5f9;
  --foreground: #111827;
}

/* 다크모드 강제 해제 (라이트 테마 유지) */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f5f9;
    --foreground: #111827;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}